@bg-color:#b7d4a8;
body {
  // background-color: lime;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.out {
  background-color: @bg-color;
  width: 800px;
  height: 800px;
  border:10px solid #000;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  #stage {
    width: 764px;
    height: 604px;
    border:2px solid #000;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    #snake>div {
      width: 10px;
      height: 10px;
      background-color: #000;
      border:1px solid @bg-color;
      position: absolute;
    }
    #food {
        width: 10px;
        height: 10px;
        // margin-left: 20px;
        // background-color: red;
        position: absolute;
        border:1px solid @bg-color;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
      &>div {
        width: 4px;
        height: 4px;
        border:1px solid @bg-color;
        background-color: #000;
        transform:rotate(-45deg)
        // position: absolute;
      }
    }
  }
  #goal {
    width: 100%;
    height: 160px;
    line-height: 160px;
    padding:0 80px;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}